<a href="./#/heroes"><- Back to heroes list</a>
<table>
  <thead>
    <tr><th colspan="3">Overwatch Zarya Stats</th></tr>
    <tr>
       
        <th colspan="1">Games Won</th>
        <th colspan="1"> TimePlayed</th>
		 <th colspan="1"> Eliminations</th>
      </tr>
  </thead>
  <tbody>
      <tr >
        
        <td> {{hero.Zarya.GamesWon}}    </td>
        <td>
			 {{hero.Zarya.TimePlayed}}<br/> 
        </td>
        <td>
         {{hero.Zarya.Eliminations}}
        </td>
        
      </tr>
  </tbody>
</table>